#top{
	width: 200px;
	height: 100px;
	position: absolute;
	left: 475px;
}
#middle{
	margin-top: 100px;
	width: 600px;
	height: 400px;
	position: absolute;
	left: 475px;
}
#table{
	text-align: center;
	border: 1px solid blue;
}
#check{
	float: left;
	width: 100px;
	height: 50px;
	background-color: #46FFFF;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	font-size: 20px;
}
.td{
	border: 1px solid black;
}
#button{
	float: left;
	width: 100px;
	height: 50px;
	background-color: #46FFFF;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	font-size: 20px;
}